<app-comp-page-header
  title="Novo Exercício"
  icon="fa-shopping-bag"
></app-comp-page-header>

<form [formGroup]="exercicioForm" (ngSubmit)="submitExercicio()">
  <div class="mb-3">
    <label for="nome" class="form-label">*Nome</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': validaCampo('nome') }"
      formControlName="nome"
    />
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">*Tipo</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': validaCampo('tipo') }"
      formControlName="tipo"
    />
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Foto</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
  <div class="text-end">
    <button type="submit" class="btn btn-primary text-white">
      <i class="fa fa-floppy-o"></i>
      <span> Salvar</span>
    </button>
    <button
      type="button"
      class="btn btn-danger text-white ms-2"
      routerLink="/exercicios"
    >
      <i class="fa fa-times"></i>
      <span> Cancelar</span>
    </button>
  </div>
</form>
