$primary: #0084ff;
$danger: #eb4a4a;
$success: #42c469;
$info: #49a7e6;
$warning: #e7e97f;

//cinzas
$gray3: #333333;
$gray6: #666666;
$gray9: #999999;
$grayB: #bbbbbb;
$grayD: #dddddd;
$grayF: #ffffff;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
